{% extends 'base.html.twig' %}

{% block body %}


<header class="container-fluid uni-background-1 text-center pt-5">
    <div class="text-center">
        <!-- Page title -->
            <div class="mx-auto">
                <h1 class="text-center" style="color:white;font-family:Arial;font-size:35px;font-weight:bold;">MEDECINS D'ILE-DE-FRANCE</h1>
                <div class="row text-white h1"><hr><i class="fas fa-hand-holding-medical"></i><hr></div>
            </div>
        <!-- End page title -->

    </div>
</header>

        {# {{dump(tabMed.records[7])}} #}

        {# Règle de parcours du tableau d'une api pour parcourir TOUTES les données #}

        {# Si la propriété contient plusieurs [], parcourir la propriété avec for sans faire mention du [] et ce également pour les sous-propriétés  
        exemple for item in tabMed.features ET item.properties.c_nom #}

<div class="shadow-lg p-3 bg-white rounded mt-3 mx-auto" style="margin-bottom:-50px;height:auto;">

    <form class="align-items-center mx-auto text-center hide" name="regionSelect" method="post">
            <div class="row col-sm-12">
                <div class="form-group text-warning h4 col-sm-6 mx-auto">
                  <label for="inputRegion">Choisissez une région</label>
                  <select data-region="" id="inputRegion" name="region[code]" class="form-control btnRegion">
                    <option selected>Choisissez une région...</option>
                    
                    <option data-name="" value=""></option>
                    
                  </select>
                </div>
            </div>
    </form>
    
    <div class="react" id="root"></div>

</div>




{% endblock %}
