body {
    background-color: lightgray;
}

.specialite {
    box-shadow:5px 5px 5px black;border-radius:15px;background-color:beige;
    height:155px;
}
.specialite:hover {
    box-shadow:5px 5px 5px red;border-radius:9px;background-color:beige;
}

.minimenu {
    box-shadow:5px 5px 5px black;border-radius:5px;
}

.informationsdiverses {
    background-color:blue; border-radius:5px;
}

.actes {
    height:100px;overflow:auto
}

.cadre {
border:1px solid black;
margin:5px;
border-radius:10px;
background-color:rgb(63,151,218);
box-shadow:2px 2px 2px black;
margin:10px 60px 10px 60px;

}

.linkColor {
color:black;
}

.cadrespec {
    border:1px solid black;
    margin:5px;
    border-radius:10px;
    background-color:rgb(63, 151, 218);
    box-shadow:2px 2px 2px black;
    padding:10px;

}

.inputstyle {

border-radius:20px;

}

.inputstyle:focus {
    text-align:center;
}

.styleHeader {
    color:white;
    font-family:Arial;
    font-size:35px;
    font-weight:bold;
}

.styleForm {

    margin-bottom:-50px;
    height:auto;
}

.bord {
    width:90%;
    border:1px solid black;
    background-color:white;
    box-shadow:2px 2px 2px black;
}

.cartStyle{
    height:300px;
    overflow:auto;      

}

.titleSearch{

    margin:auto!important;
}
.tabbable-panel{

    margin:auto!important;
}

.avertissement{
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  }