<!doctype html>
<html lang="fr" dir="ltr">

<!-- soccer/project/  07 Jan 2020 03:36:49 GMT -->
<head>
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Médecins d'Ile-de-France{% endblock %}</title>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <style>{% block style %}{% endblock %}</style>


        {# link déjà présents #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

        {# link template #}
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
        <link rel="stylesheet" href="medicare/plugin/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="medicare/plugin/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="medicare/fonts/poppins/poppins.css">
        <link rel="stylesheet" href="medicare/plugin/fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="medicare/plugin/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="medicare/plugin/process-bar/tox-progress.css">
        <link rel="stylesheet" href="medicare/plugin/owl-carouse/owl.carousel.min.css">
        <link rel="stylesheet" href="medicare/plugin/owl-carouse/owl.theme.default.min.css">
        <link rel="stylesheet" href="medicare/plugin/animsition/css/animate.css">
        <link rel="stylesheet" href="medicare/plugin/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="medicare/plugin/mediaelement/mediaelementplayer.css">
        <link rel="stylesheet" href="medicare/plugin/datetimepicker/bootstrap-datepicker3.css">
        <link rel="stylesheet" href="medicare/plugin/datetimepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="medicare/plugin/lightgallery/lightgallery.css">
        <link rel="stylesheet" href="medicare/css/style.css">


        {# CDN Jquery #}

        {% block scriptMap %}
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
        {{encore_entry_link_tags('app')}}

{% endblock head %}        
    </head>

    <body>
        {% block body %}
        
        
        {% endblock %}




        {% block javascripts %}
        {% endblock %}


 <!-- FICHIERS SCRIPT JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script src="medicare/plugin/jquery/jquery-2.0.2.min.js"></script>
<script src="medicare/plugin/jquery-ui/jquery-ui.min.js"></script>
<script src="medicare/plugin/bootstrap/js/bootstrap.js"></script>
<script src="medicare/plugin/process-bar/tox-progress.js"></script>
<script src="medicare/plugin/waypoint/jquery.waypoints.min.js"></script>
<script src="medicare/plugin/counterup/jquery.counterup.min.js"></script>
<script src="medicare/plugin/owl-carouse/owl.carousel.min.js"></script>
<script src="medicare/plugin/jquery-ui/jquery-ui.min.js"></script>
<script src="medicare/plugin/mediaelement/mediaelement-and-player.js"></script>
<script src="medicare/plugin/masonry/masonry.pkgd.min.js"></script>
<script src="medicare/plugin/datetimepicker/moment.min.js"></script>
<script src="medicare/plugin/datetimepicker/bootstrap-datepicker.min.js"></script>
<script src="medicare/plugin/datetimepicker/bootstrap-datepicker.tr.min.js"></script>
<script src="medicare/plugin/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="medicare/plugin/datetimepicker/bootstrap-datetimepicker.fr.js"></script>
<script src="medicare/plugin/lightgallery/picturefill.min.js"></script>
<script src="medicare/plugin/lightgallery/lightgallery.js"></script>
<script src="medicare/plugin/lightgallery/lg-pager.js"></script>
<script src="medicare/plugin/lightgallery/lg-autoplay.js"></script>
<script src="medicare/plugin/lightgallery/lg-fullscreen.js"></script>
<script src="medicare/plugin/lightgallery/lg-zoom.js"></script>
<script src="medicare/plugin/lightgallery/lg-hash.js"></script>
<script src="medicare/plugin/lightgallery/lg-share.js"></script>
<script src="medicare/plugin/sticky/jquery.sticky.js"></script>

<script src="js/main.js"></script>
<script src="autocomplete.js"></script>


{{encore_entry_script_tags('app')}}
</body>




</html>

