{% extends 'medBase.html.twig' %}

{% block body %}

<header class="container-fluid uni-background-1 text-center pt-5">
    <div class="text-center">
        <!-- Page title -->
            <div class="mx-auto">
                <h1 class="text-center" style="color:white;font-family:Arial;font-size:35px;font-weight:bold;">CHOISISSEZ VOTRE CENTRE DE VACCINATION</h1>
                <div class="row text-white h1"><hr><i class="fas fa-hand-holding-medical"></i><hr></div>
            </div>

        <!-- End page title -->


    </div>
</header>

        
{{ dump(tabMed.records[24])}}

                

        

        {# Règle de parcours du tableau d'une api pour parcourir TOUTES les données #}

        {# Si la propriété contient plusieurs [], parcourir la propriété avec for sans faire mention du [] et ce également pour les sous-propriétés  
        exemple for item in tabMed.features ET item.properties.c_nom #}






<script src="{{asset("ajax.js")}}"></script>
{% endblock %}
